@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Lato:200,300,900,300italic,900italic);

body {
	margin: 0;
	position: relative;
	font-family: 'Lato', sans-serif;
}

.pixel-cover {
	width: 100%;
	height: 100%;
	opacity: .25;
	position: absolute;
	background: url('images/pixel.png');
	z-index: 1;
}

header {
	color: #fff;
	font-size: 30px;
	text-align: center;	

	h2 {
		font-family: 'Lobster', cursive;
		text-shadow: 2px 2px rgba(0,0,0,.8);
		padding-top: 20px;
		border-bottom: 1px solid #fff;
		padding-bottom: 20px;
	}

	@include media($large) {
		h2 {
			margin-left: 100px;
			margin-right: 100px;
		}
	}
}

.body-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	background: url('images/floor.png');
	background-size: cover;
	background-position: center center;
	min-width: 648px;

	main {
		z-index: 10;
		position: absolute;
		bottom: 50%;
		left: 50%;
		transform: translateY( 50% ) translateX( -50% );
		display: block;
		width: 75%;
		height: 50%;

		article {
			background-color: rgba(255,255,255,.95);
			display: block;
			margin-bottom: 10px;
			padding: 5px;
			border-radius: 5px;
			box-shadow: 2px 2px 2px rgba(0,0,0,.4);

			section {
				border: 1px solid #000;
				border-radius: 5px;
				width: 100%;
				max-height: 300px;
				padding: 15px;
			}
		}

		h3 {
			font-weight: 300;
			font-size: 30px;
			margin: 10px 0;
		}

		.foot-1 {
			min-height: 100px;
			@include calc('width', '85% - 5px');
			float: left;
			margin-right: 10px;
			padding: 20px;
		}

		.foot-2 {
			background-color: rgba(0,0,0,.3);
			min-height: 100px;
			@include calc('width', '15% - 5px');
			float: right;
			color: #fff;
			padding: 21px 5px;
		}

		.day-counter {
			display: inline-block;
			float: left;
			width: 66%;
			font-weight: 200;
			font-size: 60px;
		}

		.day-metric {
			display: inline-block;
			width: 33%;
			padding-top: 15px;
			text-transform: uppercase;
			font-size: 12px;
			float: left;
		}


		@include media($max-large) {
			width: 90%;
		}
	}
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-bottom: 20px;

	ul {
		list-style: none;
		width:90%;

		li {
			font-size: 14px;
			display: inline-block;
			margin-right: 20px;
			color: #ffffff;
			font-weight: 300;

			a {
				color: #ffffff;
				text-decoration: none;
				z-index: 5;
				display: block;
				height: auto;
				width: auto;

				&:hover {
					color: #FE5E08;
				}
			}
		}
	}

	@include media($large) {
		margin-left: 100px;
		margin-right: 100px;

		ul {
			padding-left: 0;
		}
	}
}




