
/* Custom CSS Code 
=================================================*/

/* this logo width & height , you can change it depend on your logo */
.logo img {
	width:171px;
	height:33px;
}

.responsive > ul {
	background: #ef730e !important;
}

.responsive ul li a {
	border-bottom: 1px solid #FFFFFF !important;
}

.responsive > ul li:hover {
	color: #ef730e !important;
}